<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel"styleheet" href"css/style.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Weren't Here Music</a>

        <nav>
            <a href="#" class="active">Главная</a>
            <a href="#">Поиск</a>
            <a href="#">Моя медиатека</a>
            <a href="#">Популярное</a>
            <a href="#">Новые релизы</a>
        </nav>

        <form class="search-form">
            <input type="text" class="search-input" placeholder="Поиск музыки, артистов, альбомомв..."></input>
            <button type="sumbit" class="search-button">Найти</button>
        </form>
    </header>

    <main class="main-content">
        <section class="hero">
            <h1>Открой мир музыки</h1>
            <p>Миллионы треков,тысячи артистов и безграничные возможности для вашего музыкального путешествия</p>
            <button class="cta-button">Начать слушать бесплатно</button>
        </section>

        <section>
            <div>
                <h2 class="section-title">Популярные треки</h2>
                <a href='#' class="view-all">Смотреть все</a>
            </div>

            <div class="track-list">
                <div class="track-item">
                    <div class="track-number">1</div>
                    <div class="track-info">
                            <div class="track-title">Blinding lights</div>
                            <div class="track-artist">The Weekend</div>
                    </div>
                    <div class="track-duration">3:53</div>
                    <button class="play-button">▷</button>
                </div>

                <div class="track-item">
                    <div class="track-number">1</div>
                    <div class="track-info">
                            <div class="track-title">Blinding lights</div>
                            <div class="track-artist">The Weekend</div>
                    </div>
                    <div class="track-duration">3:20</div>
                    <button class="play-button">▷</button>
                </div>

                <div class="track-item">
                    <div class="track-number">2</div>
                    <div class="track-info">
                            <div class="track-title">Shape of You</div>
                            <div class="track-artist">Ed Sheeran</div>
                    </div>
                    <div class="track-duration">3:53</div>
                    <button class="play-button">▷</button>
                </div>

                <div class="track-item">
                    <div class="track-number">3</div>
                    <div class="track-info">
                            <div class="track-title">Dance Monkey</div>
                            <div class="track-artist">Tones and I</div>
                    </div>
                    <div class="track-duration">3:29</div>
                    <button class="play-button">▷</button>
                </div>

                <div class="track-item">
                    <div class="track-number">4</div>
                    <div class="track-info">
                            <div class="track-title">Bad Guy</div>
                            <div class="track-artist">Billie Eilish</div>
                    </div>
                    <div class="track-duration">3:14</div>
                    <button class="play-button">▷</button>
                </div>
                
                <div class="track-item">
                    <div class="track-number">5</div>
                    <div class="track-info">
                            <div class="track-title">Watermelon Sugar</div>
                            <div class="track-artist">Harry Styles</div>
                    </div>
                    <div class="track-duration">2:54</div>
                    <button class="play-button">▷</button>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="section-header">
                <h2 class="section-title">Новые релизы</h2>
                <a href="#" class="view-all">Смотреть все<a>
            </div>

            <div class="grid grid-6">
                <div>
                    <div class="card-img"></div>
                    <div class="card-title">Midnights<div>
                    <div class="card-subtitle">Taykor Swift</div>
                </div>

                <div>
                    <div class="card-img"></div>
                    <div class="card-title">Harry's House<div>
                    <div class="card-subtitle">Harry Styles</div>
                </div>
                
                <div>
                    <div class="card-img"></div>
                    <div class="card-title">Un Verano Sin Ti<div>
                    <div class="card-subtitle">Bad Bunny</div>
                </div>

                <div>
                    <div class="card-img"></div>
                    <div class="card-title">Dawn Fm<div>
                    <div class="card-subtitle">The Weekend</div>
                </div>

                <div>
                    <div class="card-img"></div>
                    <div class="card-title">30<div>
                    <div class="card-subtitle">Adele</div>
                </div>

                <div>
                    <div class="card-img"></div>
                    <div class="card-title">Sour<div>
                    <div class="card-subtitle">Olivia Rodrigo</div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>